* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: #f2f2f2;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

.form-register {
  width: 400px;
  background: #26292c;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 15px 37px #191717;
}

.form-register h4 {
  font-size: 30px;
text-align: center;
}

.form-register h3 {
  font-size: 18px;
  margin-bottom: 20px;
    color: lightgray;
text-align: center;
}

.controls {
  width: 100%;
  background: #e0dcdc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: 'calibri';
  font-size: 18px;
  color: #000000;
}

.form-register p {
color: #777;
    font-size: 13px;
    width: 316px;
}

.form-register a {
  color: #8694ff;
  text-decoration: none;
}
.Logofacebook {
    height: 90px;
}

.controls1 {    
color: #a6adb5;
font-family:  sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
margin-top: 2px;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #3154a0;
  border: 1px solid #496dbc;
    border-radius: 10px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
